/*--- theme by sneha created summer 2022
        modified summer 2026
        gradients and hex codes from faisalAkhtar windows-xp see https://github.com/faisalAkhtar/windows-xp/blob/main/assets/desktop.css
        icons by marchmountain on deviantart see www.deviantart.com/marchmountain/art/Windows-XP-High-Resolution-Icon-Pack-916042853
---*/

/*---COLORS AND SHADOWS---*/
:root{
    --linecolor:#2b2b2b;
    --alertcolor:#d40000;
    --bgcolor:#ece9d8;
    --mainblue:#003bda;
    --frameshadow:inset -1px -1px #00138c, inset 1px 1px #0831d9, 
        inset -2px -2px #001ea0, inset 2px 2px #166aee,
        inset -3px -3px #003bda, inset 3px 3px #0855dd;
    --buttoncolor:linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%);
    --buttonhovershadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, 
    inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
    --taskbarcolor: linear-gradient(
        to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, 
        #1941A5 100%) center/cover no-repeat;
    --startcolor:radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
    --startshadow:0px 5px 10px #79ce71 inset, 4px 0 8px #3f8cf3;
}

::selection{
    background-color: var(--mainblue);
    color:var(--bgcolor);
}

@font-face
{
    font-family:Tahoma;
    src: url('./assets/Fonts/windows-xp-tahoma.otf');
}

html{
    background-image: url('./assets/Wallpapers/795-69.jpg');
    background-attachment:fixed;
    background-size:cover;
    overscroll-behavior:none;
}

body{
    margin:0;
    border-color:var(--linecolor);
    color:var(--linecolor);
    font-family:'Tahoma';
    font-size:1.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

#scrolling{
    display:inline;
    position:absolute;
    min-height: calc(100vh - 5em);  
    margin-left:30vw;
    margin-top:5vh;
    width: 40vw;
    text-align: justify ;
    padding-bottom:1.5em;
}

#sidebar-left{
    position:fixed;
    margin-left:14vw;
    margin-top:5vh;
    width:13vw;
    text-align:left;
}

#sidebar-right{
    position:fixed;
    margin-left:73vw;
    margin-top:5vh;
    width:13vw; 
    text-align:left;
}


#taskbar{
    position:fixed;
    width:100vw;
	box-shadow:var(--frameshadow);
    background-color:var(--mainblue);
    bottom:0;
    z-index: 99999;
}  

#left{
    vertical-align: top;
    display:inline-block;
    position:relative;
    width:49.25%;
    margin-left:0;
    margin-right:0.75%
}

#right{
    display:inline-block;
    position:relative;
    width:49.25%;
    margin-right:0;

}

.start-button {
    img{
        height: 0.8em;
        filter: drop-shadow(1px 1px 1px #222);
        padding-right:0.2em;
        transform: translateY(0.1em);
    };
    float: left;
    font-weight:bold;
    font-style: italic;
    background: var(--startcolor);
    box-shadow: var(--startshadow);
    padding: 0.2em 1em 0.3em 0.5em;
    text-shadow: 1px 2px 3px var(--linecolor);
    color:var(--bgcolor);
    border-radius: 0px 8px 8px 0px;
    margin-right: 16px;
}

.windowframe{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top:5px;
    padding-bottom:3px;
    box-shadow:var(--frameshadow);
    background-color:var(--mainblue);
    margin-bottom:10px;
}

.windowtitle{
    width:auto;
    text-align:left;
    color:var(--bgcolor);
    margin-left:4px;
    margin-right:4px;
    font-size: 1.1em;
    & img{
        vertical-align:middle;
        height:1.2em;
        border:none;
    }
}

.nav{
    text-align: center;
    & a{
        color:var(--linecolor);
        text-decoration: none;
    }
}

.button{
    width:auto;
    margin-top:2px;
    padding:2px;
    border:1px solid;
    border-radius:3px;
    background: var(--buttoncolor);
    &:hover{
        box-shadow: var(--buttonhovershadow);
        border-color: var(--linecolor);
    }
}

.content{
    border:1px solid;
    margin-left:3px;
    margin-right:3px;
    margin-top:3px;
    padding-bottom:5px;
    padding-top:2px;
    padding-left:2px;
    padding-right:4px;
    max-width:inherit;
    background-color: var(--bgcolor);
    color:var(--linecolor);
    & img{
        float:center;
        width: 100%;
        border:1px solid;
    }
}



